* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'JetBrains Mono', monospace;
  background-color: #05070e;
  color: rgba(226, 244, 255, 0.92);
}
